<div #tick class="tick">
  NgZone + ChangeDetection.Default (static tree + projection) <br>
  Open the console, if you want to see the lifecycle
</div>

<tree>

  <div>
    <div class="center">count = {{ countTree|json }}</div>
  </div>

  <child>
    <div>Timers</div>
    <child>
      <div>
        <interval runOutside="runOutside"></interval>
      </div>
      <child></child>
    </child>
    <child>
      <div>
        <interval setInterval="setInterval"></interval>
      </div>
      <child></child>
    </child>
    <child>
      <div>
        <interval asyncPipe="asyncPipe"></interval>
      </div>
      <child></child>
    </child>
  </child>

  <child>
    <child>
      <child>
        <div>
          <button-click
            [count]="countTree">
          </button-click>
        </div>
        <child>
          <div>Factorial</div>
          <child>
            <div>
              <factorial></factorial>
              <factorial></factorial>
              <factorial></factorial>
            </div>
            <child>
              <div>
                <input-change
                  [count]="countTree">
                </input-change>
              </div>
            </child>
          </child>
        </child>
      </child>
    </child>
  </child>



</tree>
