.inputs {
  background: rgba(256, 256, 256, 0.8);
  padding: 5px 2px;
  margin: 5px 2px;
  border: 1px dotted #000;
  color: #000;
  font-weight: normal;
  text-align: left;
  font-family: monospace;
  max-width: 150px;
  overflow: auto;
}
